@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: rgb(59, 59, 59);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin: 0;
}
input,
textarea {
	box-sizing: border-box;
	font-family: inherit;
}
input:focus,
textarea:focus {
	outline: none;
}
p {
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: inherit;
}
.nav-header {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: rgb(59 59 59 / 24%) 0px 1px 8px 1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-header-logo-container {
	display: flex;
	align-items: center;
	/* width: 30%; */
	flex: 1;
}
.nav-header-logo-wrapper {
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	margin: 10px;
	margin-left: 70px;
}
.nav-links-container {
	display: flex;
	justify-content: space-between;
	width: 20%;
	font-weight: 500;
}
.nav-icons-wrapper {
	/* width: 30%; */
	display: flex;
	justify-content: flex-end;
	flex: 1;
	align-items: center;
}
.nav-icon {
	margin-right: 70px;
	position: relative;
}
.nav-icon .inventory-count {
	background-color: rgb(143, 143, 143);
	height: 15px;
	width: 15px;
	color: white;
	font-weight: 500;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 10px;
	top: -9px;
	right: -7px;
}
.nav-icon input {
	padding: 10px 20px;
	border: 2px solid rgb(59, 59, 59);
	border-radius: 100px;
	width: 100%;
	font-family: inherit;
}

.nav-icon .search-icon-absolute {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	cursor: pointer;
}
.nav-icon .nav-links-container a:hover,
.nav-icon:hover {
	color: rgb(143, 143, 143);
}
.container {
	min-height: 800px;
	background-color: rgb(238, 238, 238);
	overflow: auto;
}
.home-container {
	background-color: white;
	border-radius: 20px;
	margin: 150px 100px;
	overflow: auto;
}
.cover-photo-wrapper {
	position: relative;
	width: 100%;
	height: 250px;
	background-image: url("assets/cover-photo.jpeg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	border-radius: 20px;
}
.logo-wrapper {
	border: 5px solid white;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	z-index: 999;

	/* To center the logo within the image */
	display: flex;
	justify-content: center;

	/* For pop out effect */
	position: absolute;
	bottom: -100px;
	/* left: 20px; */
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.logo {
	width: auto;
	height: 100%;
}
.body-wrapper-desktop {
	margin: 80px 70px;
	padding: 40px 55px;
	background-color: rgb(238, 238, 238);
	border-radius: 20px;
}
.body-wrapper-desktop > h2 {
	margin-top: 10px;
	text-align: center;
}
.body-wrapper-desktop > p {
	margin: 15px 0 38px;
	text-align: center;
}
.body-wrapper-desktop > p a {
	font-weight: 600;
	text-decoration: underline;
}
.body-wrapper-desktop > p a:hover {
	color: rgb(143, 143, 143);
}
.shop-info {
	margin: 120px 50px 0;
	text-align: center;
}
.shop-info h1 {
	margin-bottom: 10px;
}

/* Store Items Custom CSS*/

.store-items-container,
.checkout-container, .order-container {
	margin: 120px 50px 0;
	padding: 50px 0;
}
.search-bar-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.search-bar-wrapper {
	position: relative;
	width: 40%;
}
.search-bar-wrapper input {
	padding: 10px 20px;
	font-size: 16px;
	width: 100%;
	border: 2px solid rgb(59, 59, 59);
	background-color: inherit;
	border-radius: 100px;
	font-family: inherit;
}
.search-bar-wrapper a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	cursor: pointer;
}

.store-items-nav {
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 30px auto;
	border-bottom: 1px solid rgb(187, 187, 187);
}
.store-items-nav a {
	padding: 10px;
	color: inherit;
}
.store-items-nav .active {
	border-bottom: 3px solid rgb(59, 59, 59);
	color: rgb(59, 59, 59);
}

.category-card-grid {
	max-width: 1100px;
	display: grid;
	justify-content: space-around;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 60px;
	padding: 0 50px;
	align-items: center;
}
.category-card {
	background: #ffffff;
	/* box-shadow: 3px 3px 23px 5px rgba(0, 0, 0, 0.2); */
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	position: relative;
}
.discount-rate {
	position: absolute;
	color: white;
	background-color: rgb(59, 59, 59);
	padding: 6px;
	z-index: 999;
	top: 15px;
	right: 15px;
}
.category-card-img {
	width: 150px !important;
	height: 150px !important;
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: relative;
}
.category-card-img img {
	max-width: 100% !important;
}
.category-card-img a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.category-card-details {
	margin-top: 20px;
	text-align: center;
}
.category-card-details .name {
	font-weight: 500;
}
.category-card-details .price {
	margin: 6px 0 30px;
}
.discount-price {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-around;
	margin: 6px 0 30px;
}
.discount-price .old-price {
	text-decoration: line-through 2px;
	color: rgb(143, 143, 143);
	font-size: 16px;
}
.discount-price .price {
	margin: 0;
}

.addtocart,
.outofstock,
.product-qty-to-cart {
	margin: 10px auto;
	text-align: center;
}
.outofstock a,
.addtocart a,
.product-qty-to-cart button {
	padding: 10px;
	font-size: 14px;
	font-weight: 500;
}
.outofstock,
.addtocart {
	padding: 10px 0;
	margin: 5px auto;
}
.outofstock a {
	width: 50%;
	border-radius: 20px;
	color: rgb(143, 143, 143);
	border: 2px solid rgb(143, 143, 143);
}
.addtocart a {
	width: 50%;
	border-radius: 20px;
	color: white;
	border: 2px solid rgb(59, 59, 59);
	color: rgb(59, 59, 59);
	cursor: pointer;
}
.addtocart a:hover,
.product-qty-to-cart button:hover {
	color: white;
	background-color: rgb(59, 59, 59);
}
.product-qty-to-cart {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.product-qty-to-cart button {
	border: 2px solid rgb(59, 59, 59);
	background-color: transparent;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 16px;
}

/**/
.store-item-card {
	display: flex;
	margin: 30px 100px;
	padding: 70px;
	background-color: white;
	/* justify-content: space-around; */
}
.store-item-card-img {
	width: 500px !important;
	height: 500px !important;
	overflow: hidden;
	display: flex;
	justify-content: center;
	border: 1px solid rgb(187, 187, 187);
}
.store-item-card-description {
	padding: 0 50px;
	width: 50%;
}
.store-item-card-description .name {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}
.store-item-card-price {
	font-size: 21px;
	color: rgb(143, 143, 143);
	font-weight: 600;
	margin-bottom: 25px;
}
.store-item-card-description .details {
	margin-bottom: 20px;
}
.store-item-card-description .category {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 40px;
}
.store-item-card-description .category span {
	color: rgb(143, 143, 143);
}
.cart-qty-wrapper {
	display: flex;
	align-items: center;
	width: 50%;
	justify-content: space-between;
}
.cart-qty-wrapper .addtocart {
	margin: 0;
	text-align: left;
}
.cart-qty-wrapper .product-qty-to-cart {
	margin: 0;
	width: 40%;
	justify-content: space-between;
}
.cart-card-container {
	display: flex;
	flex-direction: column;
}
.clear-cart-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.clear-cart-wrapper {
	background-color: white;
	padding: 20px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 50px;
}
.clear-cart-wrapper span {
	margin-right: 20px;
}
.cart-card {
	background-color: white;
	display: flex;
	border-radius: 20px;
	margin: 10px 0 20px;
	padding: 30px;
}
.cart-card-img {
	width: 400px !important;
	height: 200px !important;
	overflow: hidden;
	display: flex;
	justify-content: center;
	border: 1px solid rgb(59, 59, 59);
}
.card-cart-details {
	padding: 0 30px;
}
.card-cart-details .name {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.card-cart-details .price {
	font-size: 18px;
	font-weight: 500;
}
.card-cart-details .qty {
	margin-top: 50px;
}
.card-cart-details .product-qty-to-cart {
	justify-content: space-evenly;
}
.total-checkout-container {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 30px 100px;
	border-radius: 30px;
	background-color: white;
}
.total-checkout-container .total span {
	font-size: 18px;
	font-weight: 600;
}
.total-checkout-container .total h3 {
	font-size: 21px;
	font-weight: 600;
}

.checkout-link {
	display: flex;
	justify-content: flex-end;
}
.checkout-link a {
	color: rgb(59, 59, 59);
	border: 2px solid rgb(59, 59, 59);
	font-weight: 500;
	border-radius: 20px;
	padding: 10px;
}
.checkout-link a:hover,
.clear-cart-wrapper:hover {
	background-color: rgb(59, 59, 59);
	color: white;
}


.checkout-container {
}
.billing-details-container,
.payment-mode-container, .order-wrapper{
	background-color: white;
	margin: 0 100px;
	padding: 30px 70px;
	border-radius: 50px;
	margin-bottom: 30px;
}
.form {
	display: flex;
	flex-direction: column;
	padding: 30px 0;
}
.form input,
.form textarea {
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid rgb(59, 59, 59);
}
.form .duo-input {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.form .duo-input input {
	width: 48%;
}
.payment-mode-content {
	margin-top: 20px;
	/* border: 1px solid rgb(187, 187, 187); */
}
.footer-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(59, 59, 59);
	color: white;
	padding: 40px 0 10px;
}
.footer-links {
	display: flex;
	justify-content: space-around;
	width: 20%;
	margin-bottom: 20px;
	font-size: 18px;
}
.mobile-only {
	display: none;
}
@media screen and (max-width: 768px) {
	.mobile-only {
		display: revert;
	}
	.desktop-only {
		display: none;
	}
	.nav-header-logo-wrapper {
		margin-left: 20px;
	}
	.body-wrapper-mobile {
		margin: 50px;
		margin-bottom: 80px;
		padding: 20px;
		background-color: rgb(238, 238, 238);
		border-radius: 20px;
		overflow: auto;
	}
	.body-wrapper-mobile h3 {
		margin-bottom: 12px;
	}
	.store-items-container,
	.checkout-container,
	.order-container {
		margin: 70px 50px;
	}
	.search-bar-wrapper {
		width: 50%;
	}
	.store-info-link,
	.whatsapp-info-link {
		margin-bottom: 10px;
		line-height: 1.5;
	}
	.store-info-link a,
	.whatsapp-info-link a {
		font-weight: 600;
		text-decoration: underline;
	}
	.whatsapp-info-link a,
	.whatsapp-info-link i {
		color: rgb(15 156 68);
	}
	.whatsapp-info-link i {
		font-size: 18px;
	}
	.store-info-link a:hover {
		color: rgb(143, 143, 143);
	}
	.container {
		overflow: none;
	}
	.home-container {
		margin: 0;
		border-radius: 0;
	}
	.category-card-grid {
		grid-template-columns: 1fr 1fr;
	}
	.bottom-nav {
		position: fixed;
		bottom: 0;
		background-color: rgb(59, 59, 59);
		color: rgb(238, 238, 238);
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.store-item-card {
		flex-direction: column;
		margin: 10px 20px;
		padding: 40px;
		align-items: center;
	}
	.store-item-card-img {
		width: 300px !important;
		height: 300px !important;
		overflow: hidden;
		display: flex;
		justify-content: center;
		border: 1px solid rgb(187, 187, 187);
	}
	.store-item-card-description {
		margin-top: 30px;
		width: 100%;
	}
	.store-item-card-description .name {
		font-size: 20px;
	}
	.store-item-card-price {
		font-size: 18px;
	}
	.back-btn {
		display: flex;
		justify-content: flex-end;
	}
	.back-btn span {
		color: rgb(59, 59, 59);
		border: 2px solid rgb(59, 59, 59);
		font-weight: 500;
		width: 20%;
		border-radius: 20px;
		margin-top: 20px;
	}
	/* .back-btn span:focus {
		color: #ffffff;
		background-color: rgb(59, 59, 59);
	} */
	.back-btn span a {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 10px;
	}
	.cart-card-img {
		width: 200px !important;
		height: 200px !important;
	}
	.total-checkout-container {
		padding: 30px;
	}
	.billing-details-container,
	.payment-mode-container, .order-wrapper{
		margin: 0;
		margin-bottom: 30px;
		padding: 30px;
	}
	.next-option {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 20px;
	}
	.notify-seller a {
		color: rgb(15 156 68);
	}
	.order-container {
		margin: 90px 0;
	}
	.container .order-container {
		padding: 10px;
	}

	.bottom-nav-icon {
		font-size: 18px;
		padding: 10px 0;
		width: 10%;
	}
	.bottom-nav-icon.active {
		border-bottom: 5px solid;
	}
	.bottom-nav-icon a {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: inherit;
	}
	.bottom-nav-icon p {
		font-size: 0.8rem;
		font-weight: 500;
		margin: 3px 0 0;
	}
}
@media screen and (max-width: 425px) {
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
	p {
		font-size: 14px;
	}
	.body-wrapper-mobile {
		margin: 50px 30px;
		margin-bottom: 80px;
	}
	.container {
	}
	.cover-photo-wrapper {
		height: 150px;
		border-radius: 0;
	}
	.logo-wrapper {
		width: 120px;
		height: 120px;
		left: 5px;
		bottom: -85px;
	}
	.shop-info {
		margin: 90px 20px 0;
	}
	.shop-info p {
		font-size: 14px;
	}
	.nav-header-logo-container {
		margin: 0;
		font-size: 16px;
	}
	.store-items-container {
		margin: 70px 7px;
	}
	.search-bar-wrapper {
		width: 70%;
	}
	.store-items-nav {
		width: 100%;
	}
	.store-items-nav a {
		font-size: 14px;
	}
	.category-card-grid {
		grid-gap: 10px;
		padding: 0 10px;
	}
	.outofstock a,
	.addtocart a,
	.product-qty-to-cart button {
		padding: 7px 10px;
	}
	.product-qty-to-cart button {
		padding: 6px 10px;
	}
	.category-card {
	}
	.category-card-img {
		width: 100px !important;
		height: 100px !important;
	}
	.category-card-details {
		font-size: 14px;
		margin-top: 5px;
	}
	.discount-price {
		margin-bottom: 15px;
	}
	.cart-card {
		padding: 20px;
		margin: 20px;
		margin-bottom: 10px;
	}
	.clear-cart-wrapper {
		padding: 10px;
		font-size: 16px;
	}
	.clear-cart-wrapper span {
		margin-right: 2px;
	}
	.cart-card-img {
		width: 100px !important;
		height: 150px !important;
	}
	.card-cart-details {
		padding-right: 0;
	}
	.card-cart-details .name {
		font-size: 18px;
	}
	.card-cart-details .qty {
		margin-top: 20px;
	}
	.total-checkout-container {
		padding: 20px;
	}
	.total-checkout-container .total h3,
	.total-checkout-container .total span {
		font-size: 16px;
	}
	.store-item-card {
		padding: 20px 0;
		margin: 0px 9px;
	}
	.store-item-card-img {
		width: 240px !important;
		height: 240px !important;
	}
	.store-item-card-description {
		width: 85%;
		padding: 0;
	}
	.store-item-card-price {
		font-size: 18px;
	}
	.cart-qty-wrapper {
		width: 70%;
	}
	.back-btn span {
		width: 35%;
	}
	.next-option {
		font-size: 14px;
	}
	.order-wrapper {
		padding: 30px 15px;
	}
}
